<div
    class="goals--card w-full flex justify-between items-center min-h-[9rem] shadow-sm shadow-zinc-100 cursor-grab select-none md:hover:shadow-md transition">
    <div class="flex flex-col mr-6 sm:mr-10 text-zinc-300/80">
        <fa-icon class="-mb-[0.56rem]" [icon]="faGripVertical"></fa-icon>
        <fa-icon class="-mb-[0.56rem]" [icon]="faGripVertical"></fa-icon>
        <fa-icon [icon]="faGripVertical"></fa-icon>
    </div>
    <div class="flex flex-grow justify-between items-center flex-row">
        <div class="flex-[1.5] mr-0 md:mr-20">
            <span class="text-sm font-bold">{{goal.goalTitle}}</span>
            <div>
                <app-progress-bar [goalReached]="goal.goalReached" [targetAmount]="goal.targetAmount"
                    [savedAmount]="goal.savedAmount"></app-progress-bar>
                <div class="flex justify-between text-sm mt-3 min-h-[1.75rem] items-center">
                    <span>{{(goal.savedAmount / goal.targetAmount) | percent}}</span>
                    <ng-template [ngIf]="goal.goalReached" [ngIfElse]="onTrack">
                        <ng-template [ngIf]="!showMarkAsComplete">
                            <div class="calc" (click)="toggleViewMarkAsComplete()">
                                <span class="calc--text">Mark as complete</span>
                                <span class="calc--icon hidden sm:block"> > </span>
                            </div>
                        </ng-template>
                        <ng-template [ngIf]="showMarkAsComplete">
                            <div class="complete">
                                <span class="complete--text">Are you sure?</span>
                                <span class="complete--icon__yes" (click)="handleMarkAsComplete()">
                                    <fa-icon [icon]="faCheck"></fa-icon>
                                </span>
                                <span class="complete--icon__no" (click)="toggleViewMarkAsComplete()">
                                    <fa-icon [icon]="faXmark"></fa-icon>
                                </span>
                            </div>
                        </ng-template>
                    </ng-template>
                    <ng-template #onTrack>
                        <ng-template [ngIf]="goal.onTrack" [ngIfElse]="offTrack">
                            <span class="font-bold rounded-full px-2 py-1 bg-oGreen/20 text-oGreen select-none">
                                ON TRACK
                            </span>
                        </ng-template>
                        <ng-template #offTrack>
                            <span class="font-bold rounded-full px-2 py-1 bg-red-500/20 text-red-500 select-none">
                                OFF TRACK
                            </span>
                        </ng-template>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="text-left flex-1 hidden md:block mr-0 lg:mr-20">
            <p class="text-oGray-400 text-sm tracking-wide">You've saved</p>
            <p class="text-oGray-600 text-xl font-bold tracking-wider"> {{goal.savedAmount | currency}}</p>
            <p class="text-oGray-400 text-sm tracking-wide">{{goal.targetAmount | currency}} target</p>
        </div>
        <div class="text-left flex-1 hidden lg:block mr-0 2xl:mr-20">
            <p class="text-oGray-400 text-sm tracking-wide">Monthly Contribution</p>
            <p class="text-oGray-600 text-xl font-bold tracking-wider"> {{goal.monthlyContribution | currency}}</p>
            <ng-template [ngIf]="!goal.goalReached">
                <p class="text-oGray-400 text-sm tracking-wide">
                    {{(goal.monthlyContribution / goal.monthlyGoal) | percent}} of monthly savings capacity
                </p>
            </ng-template>
        </div>
        <div class="text-left flex-1 hidden 2xl:block mr-5 2xl:mr-5">
            <p class="text-oGray-400 text-sm tracking-wide">Target completion date</p>
            <p class="text-oGray-600 text-xl font-bold tracking-wider"> {{goal.targetDate | date: 'MM/dd/yyyy'}}</p>
        </div>
    </div>
    <div
        class="text-zinc-400 py-1 hover:text-zinc-500 flex justify-center w-5 mb-auto cursor-pointer rounded-full transition-colors hover:bg-zinc-400/20">
        <fa-icon class="mb-auto" [icon]="faEllipsisV"></fa-icon>
    </div>
</div>