<div class="cards--container">
    <div class="goals--card flex-1">
        <div class="mb-4">
            <p class="text-oGray-400 leading-8">Current Savings</p>
            <p class="text-oGray-400 text-2xl font-bold">{{savings.currentObjectiveValue | currency}}</p>
            <div class="calc" (click)="toggleRightSidenav('currentSavingsDrawer')">
                <span class="calc--text">How is this calculated?</span>
                <span class="calc--icon"> > </span>
            </div>
        </div>
        <app-progress-bar [targetAmount]="savings.currentObjectiveValue"
            [savedAmount]="savings.currentAssigned"></app-progress-bar>
        <div class="progress-bar mb-4">
            <div class="progress-bar__current"
                [ngStyle]="{'width': savings.currentAssigned | progress: savings.currentObjectiveValue}">
            </div>
        </div>
        <div class="flex justify-between flex-col min-[400px]:flex-row">
            <div class="text-left">
                <p class="text-oBlue-400 text-xl font-bold">{{savings.currentAssigned | currency}}</p>
                <p class="text-oBlue-400 text-sm leading-8 tracking-wide font-bold">Assigned for goals</p>
            </div>
            <div class="text-left min-[400px]:text-right mt-2 min-[400px]:mt-0">
                <p class="text-oGray-400 text-xl font-bold">{{savings.currentUnassigned | currency}}</p>
                <p class="text-oGray-400 text-sm leading-8 tracking-wide font-bold">Left to assign</p>
            </div>
        </div>
    </div>

    <div class="goals--card flex-1">
        <div class="mb-4">
            <p class="text-oGray-400 leading-8">Every month you save</p>
            <p class="text-oGray-400 text-2xl font-bold">{{savings.monthlyObjectiveValue | currency}}</p>
            <div class="calc" (click)="toggleRightSidenav('monthlyObjectiveValue')">
                <span class="calc--text">How is this calculated?</span>
                <span class="calc--icon"> > </span>
            </div>
        </div>
        <app-progress-bar [targetAmount]="savings.monthlyObjectiveValue"
            [savedAmount]="savings.currentAssigned"></app-progress-bar>
        <div class="progress-bar mb-4">
            <div class="progress-bar__current"
                [ngStyle]="{'width': savings.currentAssigned | progress: savings.monthlyObjectiveValue}">
            </div>
        </div>
        <div class="flex justify-between flex-col min-[400px]:flex-row">
            <div class="text-left">
                <p class="text-oBlue-400 text-xl font-bold">{{savings.monthlyAssigned | currency}}</p>
                <p class="text-oBlue-400 text-sm leading-8 tracking-wide font-bold">Saving for Goals</p>
            </div>
            <div class="text-left min-[400px]:text-right mt-2 min-[400px]:mt-0">
                <p class="text-oGray-400 text-xl font-bold">{{savings.monthlyUnassigned | currency}}</p>
                <p class="text-oGray-400 text-sm leading-8 tracking-wide font-bold">Unassigned savings</p>
            </div>
        </div>
    </div>
</div>