.savings--container {
    @apply bg-oGray-200 h-96;
    @apply w-full px-10 py-5 2xl:px-80 2xl:py-10 xl:px-40;
}

.cards--container {
    @apply flex justify-between flex-col md:flex-row;
    @apply w-full space-y-4 md:space-y-0 md:space-x-4;
}

.goals--container {
    @apply w-full px-10 py-5 2xl:px-80 2xl:py-8 xl:px-40;
}
