<div class="w-full">
    <div cdkDropList class="savings-goals-card--list" (cdkDropListDropped)="drop($event)">
        <app-savings-goals-card cdkDrag class="savings-goals-card--box mb-2" *ngFor="let goal of userGoals.goals" [goal]="goal">
            <div class="savings-goals-card--placeholder" *cdkDragPlaceholder></div>
        </app-savings-goals-card>
    </div>

    <div class="w-full flex">
        <div class="card card__dark mr-2 flex items-center">
            <div class="px-8 py-1">
                <button class="button button--big"> New goal +</button>
            </div>
        </div>
        <div class="card card__dark mr-2">
            <div class="text-left">
                <p class="text-oGray-400 text-sm tracking-wide mb-1">Unassigned savings</p>
                <p class="text-oGray-600 text-xl font-bold tracking-wider mb-1">
                    {{userGoals.currentSavings.currentUnassigned | currency}}</p>
                <p class="text-oGray-400 text-sm tracking-wide">
                    of
                    <span class="font-bold"> {{ userGoals.currentSavings.currentObjectiveValue | currency}} </span>
                    in your accounts
                </p>
            </div>
        </div>
        <div class="card card__dark">
            <div class="text-left">
                <p class="text-oGray-400 text-sm tracking-wide mb-1">Unassigned savings</p>
                <p class="text-oGray-600 text-xl font-bold tracking-wider mb-1">
                    {{userGoals.currentSavings.currentUnassigned | currency}}</p>
                <p class="text-oGray-400 text-sm tracking-wide">
                    of
                    <span class="font-bold"> {{ userGoals.currentSavings.currentObjectiveValue | currency}} </span>
                    in your accounts
                </p>
            </div>
        </div>
    </div>
</div>