<div class="flex items-baseline">
    <h1 class="text-2xl font-bold text-oGray-600 mr-1 mb-6">Your Monthly Fixed Expenses</h1>
</div>
<div class="mb-8">
    <div class="flex justify-between mb-2 text-xs md:text-sm text-oGray-400 font-bold"
        *ngFor="let expense of savings.fixedExpenses">
        <div class="">
            <span>{{expense.name}}</span>
        </div>
        <span class="tabular-nums">{{expense.value | currency}}</span>
    </div>
</div>
<div class="flex justify-between mb-8">
    <span class="font-bold">Total:</span>
    <span class="text-xl font-bold text-oGray-600">
        {{savings.monthlyObjectiveValue | currency}}
    </span>
</div>
<div class="flex justify-center">
    <div class="px-8 py-1 w-full md:w-auto">
        <button class="button button--big min-w-[260px] w-full md:w-auto h-20 md:h-auto" (click)="closeSidenav()">
            Done
        </button>
    </div>
</div>