@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-['Varela_Round'];
}

.goals--card {
    @apply bg-white px-7 py-5 rounded-lg border-[1px] border-gray-200/60;
}

.goals--card__dark {
    @apply bg-oGray-200 border-gray-200/20;
}

.calc {
    @apply flex items-center cursor-pointer w-fit select-none;
}

.calc--text {
    @apply text-oBlue-600 text-xs font-bold tracking-wider transition-colors;
}

.calc--icon {
    @apply rounded-full ml-2 bg-oBlue-600/20 text-oBlue-600 px-2 py-[0.2rem] text-xs transition-colors;
}

.calc:hover .calc--icon,
.calc:hover .calc--text {
    @apply text-oBlue-400;
}

.calc:hover .calc--icon {
    @apply bg-oBlue-400/20;
}

.button {
    @apply bg-oBlue-600 text-white rounded-full tracking-wide transition-colors;
    @apply hover:bg-oBlue-400;
}

.button--big {
    @apply px-9 py-4;
}

.savings--container {
    @apply bg-oGray-200 min-h-[24rem];
    @apply w-full px-10 py-5 2xl:px-80 2xl:py-10 xl:px-40;
}

.cards--container {
    @apply flex justify-between flex-col md:flex-row;
    @apply w-full space-y-4 md:space-y-0 md:space-x-4;
}

.goals--container {
    @apply w-full px-10 py-5 2xl:px-80 2xl:py-8 xl:px-40;
}

.complete {
    @apply flex items-center w-fit select-none;
}

.complete--text {
    @apply text-oBlue-600 text-xs font-bold tracking-wider transition-colors;
}

.complete--icon__yes {
    @apply cursor-pointer rounded-full ml-2 bg-green-600/20 text-green-600 px-[0.32rem] py-[0.2rem] text-xs transition-colors hover:bg-green-400/20;
}

.complete--icon__no {
    @apply cursor-pointer rounded-full ml-2 bg-red-600/20 text-red-600 px-[0.44rem] py-[0.2rem] text-xs transition-colors hover:bg-red-400/20;
}
