@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-['Varela_Round'];
}

.goals--card {
    @apply bg-white px-7 py-5 rounded-lg border-[1px] border-gray-200/60;
}

.goals--card__dark {
    @apply bg-oGray-200 border-gray-200/20;
}

.calc {
    @apply flex items-center cursor-pointer w-fit select-none;
}

.calc--text {
    @apply text-oBlue-600 text-xs font-bold tracking-wider transition-colors;
}

.calc--icon {
    @apply rounded-full ml-2 bg-oBlue-600/20 text-oBlue-600 px-2 py-[0.2rem] text-xs transition-colors;
}

.calc:hover .calc--icon,
.calc:hover .calc--text {
    @apply text-oBlue-400;
}

.calc:hover .calc--icon {
    @apply bg-oBlue-400/20;
}

.button {
    @apply bg-oBlue-600 text-white rounded-full tracking-wide transition-colors hover:bg-oBlue-400 disabled:bg-oGray-600 disabled:cursor-not-allowed;
}

.button--big {
    @apply px-9 py-4;
}

.button--transparent {
    @apply  bg-[transparent] text-oBlue-600 hover:text-oBlue-400 hover:bg-oBlue-400/20;
}

.savings--container {
    @apply bg-oGray-200 min-h-[24rem] w-full px-10 py-5 2xl:px-80 2xl:py-10 xl:px-40;
}

.cards--container {
    @apply flex justify-between flex-col md:flex-row w-full space-y-4 md:space-y-0 md:space-x-4;
}

.goals--container {
    @apply w-full px-10 py-5 2xl:px-80 2xl:py-8 xl:px-40;
}

.complete {
    @apply flex items-center w-fit select-none;
}

.complete--text {
    @apply text-oBlue-600 text-xs font-bold tracking-wider transition-colors;
}

.complete--icon__yes {
    @apply cursor-pointer rounded-full ml-2 bg-green-600/20 text-green-600 px-[0.32rem] py-[0.2rem] text-xs transition-colors hover:bg-green-400/20;
}

.complete--icon__no {
    @apply cursor-pointer rounded-full ml-2 bg-red-600/20 text-red-600 px-[0.44rem] py-[0.2rem] text-xs transition-colors hover:bg-red-400/20;
}

.mat-drawer-backdrop.mat-drawer-shown {
    @apply bg-slate-900/60;
}

.mat-drawer:not(.mat-drawer-side) {
    @apply shadow-sm;
}

.input {
    @apply mt-2 mb-4 pl-2 h-10 rounded-md border-oGray-400/20 border-[1px] outline-none transition focus:border-oBlue-400/20 focus:ring-1 invalid:border-red-600;
}

.label {
    @apply text-sm text-oGray-600;
}

.select {
    @apply mt-2 mb-4 pl-2 h-10 rounded-md border-oGray-400/20 border-[1px] outline-none transition focus:border-oBlue-400/20 focus:ring-1 invalid:border-red-600;
}